<div id="addkey" class="mui-page">
	<div class="mui-navbar-inner mui-bar mui-bar-nav">
		<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav"></span>锁列表
		</button>
		<h1 class="mui-center mui-title">添加{{key.keyName}}</h1>
	</div>
	<div class="mui-page-content">
		<div class="mui-scroll-wrapper backgroundColor">
			<div class="mui-scroll backgroundColor setting-buttons config-width">
					 请打开{{key.keyName}}的开关按钮，然后点击下面确认添加按钮{{key.type}}<br />
			<button class="mui-btn mui-btn-primary" type="button" ng-click="confirmAddBlueKey(key)">确认</button>
			</div>
		</div>
	</div>
</div>