 
<div id="config" class="mui-page">
	<div class="mui-navbar-inner mui-bar mui-bar-nav">
		<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav"></span>设置
		</button>
		<h1 class="mui-center mui-title">配置中心</h1>
	</div>
	<div class="mui-page-content">
		<div class="mui-scroll-wrapper backgroundColor">
			<div class="mui-scroll backgroundColor setting-buttons config-width">
					 <button type="button" class="mui-btn mui-btn-blue mui-btn-outlined " ng-click="saoYisao()">添加钥匙</button>
  					<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined " ng-click="lockInit()">清空锁芯</button>
  					<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined " ng-click="">ͬ同步锁芯</button> 
  					<button type="button" class="mui-btn mui-btn-blue mui-btn-outlined " ng-click="jump('wuye')">ͬ物业</button> 
			</div>
		</div>
	</div>
</div>