<div id="addkey" class="mui-page">
	<div class="mui-navbar-inner mui-bar mui-bar-nav">
		<button type="button" class="mui-left mui-action-back mui-btn  mui-btn-link mui-btn-nav mui-pull-left">
			<span class="mui-icon mui-icon-left-nav"></span>锁列表
		</button>
		<h1 class="mui-center mui-title">远程授权{{key.keyName}}</h1>
		<button class="mui-btn mui-pull-right" type="button" ng-click="confirmAuthKey(time)">确认</button>
	</div>
	<div class="mui-page-content">
		<div class="mui-scroll-wrapper backgroundColor">
			<div class="mui-scroll backgroundColor setting-buttons config-width">
			   选择授权时间：{{time}}h
      			  <div class="mui-input-row mui-input-range">
		            <input type="range" id='block-range' ng-model="time" value="1" min="0" max="24" >
		        </div>
<!-- 		         <button id='time' data-options='{"type":"time"}' timepicker class="btn mui-btn mui-btn-block">选择时间 </button>
 -->			</div>
		</div>
	</div>
</div>