body, html { height: 100%; -webkit-tap-highlight-color: transparent }
body { overflow-x: hidden; background-color: #fbf9fe }
.container { height: 100%; overflow-y: auto; -webkit-overflow-scrolling: touch }
.container>div { background-color: #fbf9fe }
.hd { padding: 2em 0 }
.page_title { text-align: center; font-size: 34px; color: #3cc51f; font-weight: 400; margin: 0 15% }
.page_desc { text-align: center; color: #888; font-size: 14px }
.bd.spacing { padding: 0 15px }
.home { padding-bottom: 30px }
.button .page_title { color: #225fba }
.button .bd { padding: 0 15px }
.button .button_sp_area { padding: 10px 0; width: 60%; margin: 0 auto; text-align: justify; text-justify: distribute-all-lines; font-size: 0 }
.button .button_sp_area:after { display: inline-block; width: 100%; height: 0; font-size: 0; margin: 0; padding: 0; overflow: hidden; content: "." }
.cell .page_title { color: #225fba }
.cell .bd { padding-bottom: 30px }
.dialog .bd, .toast .bd { padding: 120px 15px 0 }
.msg { background-color: #fff }
.panel .bd { padding-bottom: 20px }
.article { background-color: #fff }
.article .page_title { color: #de7c23 }
.icons { background-color: #fff; text-align: center }
.icons .page_title { color: #3e24bd }
.icons .bd { padding: 30px 0; text-align: center }
.icons .icon_sp_area { padding: 10px 20px; text-align: left }
.icons i { margin: 0 5px 10px }
.tabbar { height: 100% }
.search_show { display: none; margin-top: 0; font-size: 14px }
.search_show .weui_cell_bd { padding: 2px 0 2px 20px; color: #666 }
.icon { display: inline-block; width: 28px; height: 28px; vertical-align: middle }
.icon_button { background: url(images/icon_nav_button.png) no-repeat; background-size: 28px 28px }
.icon_cell { background: url(images/icon_nav_cell.png) no-repeat; background-size: 28px 28px }
.icon_toast { background: url(images/icon_nav_toast.png) no-repeat; background-size: 28px 28px }
.icon_dialog { background: url(images/icon_nav_dialog.png) no-repeat; background-size: 28px 28px }
.icon_progress { background: url(images/icon_nav_progress.png) no-repeat; background-size: 28px 28px }
.icon_msg { background: url(images/icon_nav_msg.png) no-repeat; background-size: 28px 28px }
.icon_article { background: url(images/icon_nav_article.png) no-repeat; background-size: 28px 28px }
.icon_actionSheet { background: url(images/icon_nav_actionSheet.png) no-repeat; background-size: 28px 28px }
.icon_icons { background: url(images/icon_nav_icons.png) no-repeat; background-size: 28px 28px }
.icon_panel { background: url(images/icon_nav_panel.png) no-repeat; background-size: 28px 28px }
.icon_tab { background: url(images/icon_nav_tab.png) no-repeat; background-size: 28px 28px }
.icon_search_bar { background: url(images/icon_nav_search_bar.png) no-repeat; background-size: 28px 28px }
@-webkit-keyframes a {
	0% { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); opacity: 0 }
	to { -webkit-transform: translateZ(0); transform: translateZ(0); opacity: 1 }
}
@keyframes a {
	0% { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); opacity: 0 }
	to { -webkit-transform: translateZ(0); transform: translateZ(0); opacity: 1 }
}
@-webkit-keyframes b {
	0% { -webkit-transform: translateZ(0); transform: translateZ(0); opacity: 1 }
	to { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); opacity: 0 }
}
@keyframes b {
	0% { -webkit-transform: translateZ(0); transform: translateZ(0); opacity: 1 }
	to { -webkit-transform: translate3d(100%, 0, 0); transform: translate3d(100%, 0, 0); opacity: 0 }
}
.enter, .leave { position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: 1 }
.enter { -webkit-animation: a .2s forwards; animation: a .2s forwards }
.leave { -webkit-animation: b .25s forwards; animation: b .25s forwards }

/**任冲锋自定义的测试样式   直到下面的结束 都可以删除*/
/**devicelist.html*/
 .lock-item i{ float:right;margin-right:-30px; margin-top:-30px; }
 .lock-item{float: left; width: 90%;padding-left: 14px;}
.item-options .button{ padding-top:4%; }
.key-button{padding-top:6%!important }
.lockimg{float:left;width:10%}
.keyimg{float: left; width: 10%;}
.lockimg span, .keyimg span{width: 45px;height: 45px;background-color: #D5BEEF; float: left;padding: 16px; color: #ffffff;border-radius: 50px; }
.item-stable div{ margin-top:3px; }
.keyimg span{width: 35px;height:35px;padding: 8px;border-radius: 10px;font-size:10px }
.key-item-div{float: left; width: 80%;padding-left: 10px;}
.key-item-div p{font-size:12px;}
.item-stable i{float:right;margin-right:-30px}
 
/**locklist.html**/
 /*  .lock-item{
   position:relative;
   z-index:2;
   background-color:#F1F0F0;
 }
 
.item-buttons {
	position: absolute;
	top: 45px;
    right: 16px;
	z-index:1;
	 
}
.item-buttons button.btn {
	border: none;
	line-height:3;
 
}
a:active,a:visited,a:focus,a:hover{
  text-decoration:none;
   
}
.item-buttons button.btn,
.item-buttons button.btn:active, 
.item-buttons button.btn:visited, 
.item-buttons button.btn:focus,
.item-buttons button.btn:hover {
	color: white;
	background-color: red;
	text-shadow: none;
}
 
.item-buttons button.edit-btn, 
.item-buttons button.edit-btn:active,
.item-buttons button.edit-btn:visited, 
.item-buttons button.edit-btn:focus, 
.item-buttons button.edit-btn:hover {
	color: white;
	background-color: orange;
	text-shadow: none;
}
  .key-item{    
	position:relative;
	z-index:2; 
	 background-color:#F5F4F0;
  }
  li{
   background-color:#F5F4F0!important;
  }
  .panel-title{
  background-color:#F1F0F0!important;
  }
  .accordion-body{
       margin-top: -7px!important;
  }
  .list-group-item{
       padding: 10px 14px;
  }
  .accordion-group{
       position:relative;
  }
  .lock-item span{
       display: block;
    background-color: #D4A2E8;
    width: 50px;
    height: 50px;
    color: #824B4B;
    padding: 16px;
	border-radius:50px;
	 
  }
  .lock-item div{
     margin: 10px 0 0 5px;
        -webkit-box-flex: 1;
  }
  .container-fluid{
        padding-right: 0; 
         padding-left: 0; 
  }   */
 
 
/**结束**/